.home {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #023047;
	/* background-color: white; */
	display: flex;
	font-size: 1.3em;
	align-items: center;
	padding: 30px 100px;
}

.content {
	max-width: 800px;
	color: #ffffff;
}

.content p {
	text-align: justify;
	margin-top: 20px;
}

.tech-icons {
	/* background-color: white; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: center; */
	/* position: relative; */
}

.icons-container {
	background-color: #023047;
	background-color: #fb8500;
	background-color: white;
	border-radius: 10px;
	margin: 15px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
	transition: 0.2s ease-out;
	transform: perspective(100px) translateZ(0px);
	/* box-shadow: 0px 6px 10px rgba(255, 255, 255, 0.5);  */
	/* padding: 10px; Add padding for spacing and better shadow effect */
}

.icons-container:hover {
	border-radius: 30px;
	transform: perspective(100px) translateZ(50px);
}
.icons-container img {
	display: flex;
	padding: 5px;
	width: 80px;
	height: 80px;
	margin: 10px;
}

.tech-icons {
	/* background-color: white; */
	margin: 80px;
	/* height: 60%; */
}
