.home {
	background-color: #023047;
	width: 100%;
	font-size: 1.3em;
	padding: 30px 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.all-projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 7%;
}

.project {
	width: 80%;
	display: flex;
	margin-top: 70px;
}

.project img {
	width: 500px;
	height: 500px;
	border-radius: 10%;
	object-fit: cover;
}
.project-discription {
	width: 70%;
	height: 500px;
	margin-left: 50px;
}
.project-discription h1 {
	color: #fff;
	font-size: 70px;
}

.project-discription p {
	color: #fff;
	text-align: justify;
}
